# Environment variables
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project output files
calc_result.txt
user_note.txt
